---
layout: page
---

{% assign cat = page.category_key %}
{% assign posts = site.categories[cat] %}

{% if posts and posts.size > 0 %}
  {% for post in posts %}
    <a href="{{ post.url | relative_url }}" style="text-decoration:none;">
      <div class="post">
        <h1 class="post-title">{{ post.title }}</h1>
        {% if post.subtitle %}
          <p class="post-description">{{ post.subtitle }}</p>
        {% endif %}
        <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
      </div>
    </a>
  {% endfor %}
{% else %}
  <p><small>아직 글이 없음.</small></p>
{% endif %}